@model PROJEM.Models.Soru

@{
    Layout = "_Layout";
}

@{
    ViewData["Title"] = "TEST";
}

@section question {
    <div class="container">
        <h2>@ViewData["Title"]</h2>
        <p>@Model.SoruMetni</p>

        <form method="post" action="/soru/cevapla"> <!-- Bu kısmı uygun bir endpoint ile değiştirin -->
            @foreach (var secenek in Model.Secenekler)
            {
                <div>
                    <input type="radio" id="@secenek.SecenekID" name="cevap" value="@secenek.SecenekID">
                    <label for="@secenek.SecenekID">@secenek.SecenekMetni</label>
                </div>
            }

            <button type="submit">Cevapla</button>
        </form>
    </div>
}
